body {
  display: flex;
}

h2 {
  text-align: center;
  font-size: 2.5vw;
}

.task-container {
  min-height: 40vh;
  width: 30vw;
  margin: 5vw;
  background-color: lightblue;
}

.task {
  width: 80%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 5%;
  padding-right: 5%;
  margin: 5%;
  background-color: white;
  font-size: 2vw;
}

.over {
  box-shadow: 0px 0px 4vw green;
}

.task:hover {
  cursor: pointer;
}
